.footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
}

.footer div {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    background-color: #2b2b2b;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.footer div button {
    height: 6rem;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    font-size: 2rem;
    background: #4cc2ff;
    color: #171a20;
    border-style: none;
}